{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="container p-5 align-content-center" style="height:500px">
            <h1 class="text-left">About <span class="text-primary">SYGENES</span></h1>
            <h4 class="text-left">What is this?</h4>
            
            <p class="text-left"> This is a web application meant not only to register students <br>
                but also manage their grades and produce their report cards<br>
                and do so much more. such as 
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Ahmed</li>
                    <li>Front end killers</li>
                </ul>
            </p>
        </div>
        
        <div class="container p-5 align-content-center bg-light" style="height:500px">
            <h1 class="text-end text-primary">Creators and Founders</h1>
            <h4 class="text-end">Who are they?</h4>

            <p class="text-end">
                Brought about by an initiative of the Coordinator of the Congo-Cameroon InterState University<br>
                Sangmelima, South Region Cameroon. A dynamic teeam of supervisors and students ready to serve<br>
                came together to make it work.
            </p>
            
        </div>

</div>

{% endblock %}