{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}


{% block body %}
<div class="container-fluid align-content-left m-5">
<h1 class="text-left">Contact Us</h1>
<h4 class="text-left">Still under construction, please be patient!</h4>
</div>
{% endblock %}