{% extends 'base_dashboard.html.twig' %}
{% block head %}
  {% block title %}<title> Student Dashboard </title>{% endblock %}
{% endblock %}
{% block title %}Dashboard{% endblock %}


{% block body %}


{% endblock %}