{# templates/field/index.html.twig #}
{% extends 'base_new.html.twig' %}

{% block head %}
  {% block title %}<title> Fields </title>{% endblock %}
{% endblock %}

{% block body %}

<div class="bg-white flex flex-wrap justify-start items-start mr-10 p-6 ">

{% block page_header %}
        <div class="container ">
          <h1 class="text-4xl font-semibold text-blue-600">List of Fields</h1>
          <p class="text-sm text-gray-600 mt-1 mb-8">This is where you can get to know which student is in which field.</p>
        </div>
        {% endblock %}
    
    <div class="field-buttons space-x-8 flex flex-wrap justify-start items-start ">

    {% for field in fields %}
        <button onclick="location.href='{{ path('list_student_2', { 'fieldId': field.id , 'page':1, 'nbre':12}) }}'"
        class="px-8 py-8 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
    {{ field.name }}
</button>

    {% endfor %}

</div>

</div>
{% endblock %}