{% extends 'base_new.html.twig' %}

{% block title %}<title>Liste des Filières</title>{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">Filières de l'école</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for filiere in filieres %}
                <a href="{{ path('cc_filiere_ues', {'id': filiere.id}) }}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300">
                    {{ filiere.name }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}