<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {{ encore_entry_script_tags('app') }}
</head>
<body class="flex h-screen bg-white-500">
    <div class="flex flex-col w-64 bg-blue-500 text-white">
        <div class="flex items-center justify-center h-16">
        <!-- Add an image here if you want to illustrate the company logo -->
           
        </div>
        <nav class="flex-1 px-4 space-y-1">
            <a href="{{ path('app_dashAdmin')}}" class="nav-link flex items-center px-2 py-2 text-lg font-medium rounded-md hover:bg-blue-700 hover:text-white">
                <img class="h-5 w-auto mr-3 " src="/icons/home.png" alt="home icon">
                Dashboard  
            </a>
            <a href="#" class="nav-link flex items-center px-2 py-2 text-lg font-medium rounded-md hover:bg-blue-700 hover:text-white">
                <img class="h-5 w-auto mr-3 " src="/icons/students.png" alt="students icon">
               View Grades and Marks
                
            </a>
            
            
            <a href="#" class="nav-link flex items-center px-2 py-2 text-lg font-medium rounded-md hover:bg-blue-700 hover:text-white">
                <img class="h-5 w-auto mr-3 " src="/icons/settings.png" alt="ue and ec icon">
                Modify informations
                 
            </a>

            <a href="#" class="nav-link flex items-center px-2 py-2 text-lg font-medium rounded-md hover:bg-blue-700 hover:text-white">
                <img class="h-5 w-auto mr-3 " src="/icons/help.png" alt="responsable icon">
                Help 
                 
            </a>

        </nav>
        <!-- 
        <div class="px-4 py-4">
            <div class="text-sm font-medium text-gray-400">Your teams</div>
            <a href="#" class="flex items-center px-2 py-2 mt-2 text-sm font-medium rounded-md hover:bg-blue-700 hover:text-white">
                <span class="flex items-center justify-center w-8 h-8 bg-blue-500 rounded-full">H</span>
                <span class="ml-3">Heroicons</span>
            </a>
            <a href="#" class="flex items-center px-2 py-2 mt-2 text-sm font-medium rounded-md hover:bg-blue-700 hover:text-white">
                <span class="flex items-center justify-center w-8 h-8 bg-blue-500 rounded-full">T</span>
                <span class="ml-3">Tailwind Labs</span>
            </a>
            <a href="#" class="flex items-center px-2 py-2 mt-2 text-sm font-medium rounded-md hover:bg-blue-700 hover:text-white">
                <span class="flex items-center justify-center w-8 h-8 bg-blue-500 rounded-full">W</span>
                <span class="ml-3">Workcation</span>
            </a>
        </div>
        -->
        <div class="flex items-center px-4 py-4 bg-blue-700">
            <img class="w-10 h-10 rounded-full" src="/images/green_view.jpg" alt="Profile picture">
            <div class="ml-3">
                <div class="text-sm font-medium">Tom Cook</div>
            </div>
        </div>
    </div>
    <main class="flex-1">
        {% block body %}
        {% endblock %}
    </main>
</body>
</html>
